<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"article-simple","layout":{"type":"constrained","wideSize":"760px"}} -->
  <!-- wp:group {"tagName":"article","className":"article-simple__article","layout":{"type":"constrained"}} -->
    <!-- wp:group {"className":"article-simple__header","layout":{"type":"constrained"}} -->
      <!-- wp:post-date {"format":"d.m.Y","className":"article-simple__date"} /-->
      <!-- wp:post-title {"level":1,"className":"article-simple__title"} /-->
    <!-- /wp:group -->

    <!-- wp:post-featured-image {"className":"article-simple__media","aspectRatio":"4/3"} /-->

    <!-- wp:group {"className":"article-simple__content","layout":{"type":"constrained"}} -->
      <!-- wp:post-content /-->
    <!-- /wp:group -->

    <!-- wp:group {"className":"article-simple__nav","layout":{"type":"flex","justifyContent":"space-between","flexWrap":"wrap"}} -->
      <!-- wp:post-navigation-link {"type":"previous","label":"Article précédent","showTitle":true} /-->
      <!-- wp:post-navigation-link {"label":"Article suivant","showTitle":true} /-->
    <!-- /wp:group -->
  <!-- /wp:group -->
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
